@use "variables.scss" as v;
@use "mixins.scss" as m;

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?jc66y4");
  src: url("fonts/icomoon.ttf?jc66y4") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
  color: v.$white;
}
.icon-arrow-left:before {
  content: "\e901";
  color: v.$white;
}
.icon-arrow-right:before {
  content: "\e902";
  color: v.$white;
}
.icon-board:before {
  content: "\e903";
  color:v.$white;
}
.icon-briefcase:before {
  content: "\e904";
  color: v.$white;
}
.icon-check:before {
  content: "\e905";
  color: v.$white;
}

.icon-check-oval .path1:before {
  content: "\e906";
  color: v.$rgb-orange;
}
.icon-check-oval .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: v.$rgb-white;
}
.icon-clock:before {
  content: "\e908";
  color: v.$orange;
  margin-right: 8px;
}
.icon-down .path1:before {
  content: "\e909";
  color: v.$rgb-orange2;
}
.icon-down .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: v.$rgb-white;
}
.icon-email:before {
  content: "\e90b";
  color: v.$white;
}
.icon-facebook:before {
  content: "\e90c";
  color: v.$white;
}
.icon-gear:before {
  content: "\e90d";
  color: v.$white;
}
.icon-gift:before {
  content: "\e90e";
  color: v.$white;
}
.icon-instagram:before {
  content: "\e90f";
  color: #fff;
}
.icon-minus .path1:before {
  content: "\e910";
  color: v.$rgb-lightorange;
}
.icon-minus .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: v.$rgb-white;
}
.icon-oval:before {
  content: "\e912";
  color: v.$orange; 
}
.icon-path:before {
  content: "\e913";
}
.icon-phone:before {
  content: "\e914";
  color: v.$white;
}
.icon-pin .path1:before {
  content: "\e915";
  color: v.$rgb-orange2;
}
.icon-pin .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: v.$rgb-white;
}
.icon-pinterest:before {
  content: "\e917";
  color: v.$white;
}
.icon-plus .path1:before {
  content: "\e918";
  color: v.$rgb-orange2;
}
.icon-plus .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: v.$rgb-white;
} 
.icon-polygon:before {
  content: "\e91a";
}
.icon-quote:before {
  content: "\e91b";
  color: v.$pomegranate;
  font-size: 6rem;
  position: absolute;
  left: 250;

  @include m.sm {
    left: 500; 
  }

  @include m.md {
    left: 400;
    top: -20;
  }
}
.icon-shape:before {
  content: "\e91c";
  color: v.$white;
}
.icon-star:before {
  content: "\e91d";
  color: #ef6d58;
}
.icon-star-gift .path1:before {
  content: "\e91e";
  color: v.$rgb-orange2;
}
.icon-star-gift .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: v.$rgb-white;
}
.icon-star-small:before {
  content: "\e920";
  color: v.$yellow;
  font-size: 1rem; 

  @include m.md {
    font-size: 1.5rem; 
  }
}
.icon-triangle:before {
  content: "\e921";
  color: v.$orange;
}
.icon-twitter:before {
  content: "\e922";
  color: v.$white;
}
.icon-up .path1:before {
  content: "\e923";
  color: v.$rgb-orange2;
}
.icon-up .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: v.$rgb-white;
}
