@use "functions.scss" as f; 
@use "mixins.scss" as m;

.mb-3 {
  margin-bottom: f.calculateRem(3px);
}

.mb-15 {
  margin-bottom: f.calculateRem(15px);
}

.mb-16 {
  margin-bottom: f.calculateRem(16px);
}

.mb-17 {
  margin-bottom: f.calculateRem(17px);
}

.mb-19 {
  margin-bottom: f.calculateRem(19px);
}

.mb-23 {
  margin-bottom: f.calculateRem(23px);
}

.mb-26 {
  margin-bottom: f.calculateRem(26px);
}

.mb-28 {
  margin-bottom: f.calculateRem(28px);

  @include m.md {
    margin-bottom: 0;
  }
}

.mb-29 {
  margin-bottom: f.calculateRem(29px);
}

.mb-30 {
  margin-bottom: f.calculateRem(30px);
}

.mb-31 {
  margin-bottom: f.calculateRem(31px);

  @include m.md {
    margin-bottom: 0;
  }
}

.mb-32 {
  margin-bottom: f.calculateRem(32px);
}

.mb-33 {
  margin-bottom: f.calculateRem(33px);
}

.mb-35 {
  margin-bottom: f.calculateRem(35px);
}

.mb-36 {
  margin-bottom: f.calculateRem(36px);
}

.mb-40 {
  margin-bottom: f.calculateRem(40px);
}

.mb-48 {
  margin-bottom: f.calculateRem(48px);
}

.mb-52 {
  margin-bottom: f.calculateRem(52px);
}

.mb-81 {
  margin-bottom: f.calculateRem(81px);
}

.mt-4 {
  margin-top: f.calculateRem(4px);
  
  @include m.md {
    margin-top: 0; 
  }
}

.mt-18 {
  margin-top: f.calculateRem(18px);
}

.mt-24 {
  margin-top: f.calculateRem(24px);

  @include m.md {
    margin-top: 0; 
  }
}

.mr-8 {
  margin-right: f.calculateRem(8px);
}

.mr-15 {
  margin-right: f.calculateRem(15px);
}
