@use "variables.scss" as v;

//
//BREAKPOINTS
//
@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 1152px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin slider {
  @media (max-width: 1151px) {
    @content;
  }
}

//

@mixin header {
  background-color: v.$navyblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 23px;

  @include lg {
    padding: 16px 135px;
  }
}

@mixin header-logo-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: v.$white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

@mixin caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: v.$orange;
}

@mixin title-main {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: v.$white;

  @include md {
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
  }
}

@mixin title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: v.$brown;
}

@mixin title-big {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: v.$brown;
}

@mixin title-white {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: v.$white;

  @include md {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
  }
}

@mixin title-left {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  color: v.$white;

  @include md {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
  }
}

@mixin title-small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: v.$white;
}

@mixin title-black {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: v.$brown;
}

@mixin txt-light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: v.$shadow-white;
}

@mixin txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: v.$white;
}

@mixin txt-black {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: v.$brown;
}

@mixin txt-shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: v.$shadow-brown;
}

@mixin txt-quote {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: v.$shadow-brown;
}

@mixin txt-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: v.$shadow-white;
}

@mixin txt-small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: v.$brown;
}

@mixin txt-white {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: v.$white;
}

@mixin btn-orange {
  background-color: v.$orange;
  border-radius: 6px;
  padding: 18px 23px 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: v.$white;
  border: none;
}

@mixin btn-white {
  background: v.$white;
  box-shadow: v.$shadow;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: v.$brown;
  padding: 18px 33px 16px;
  max-width: 40%;
  border: none;

  @include sm {
    max-width: 170px;
  }

  @include md {
    height: 48px;
  }
}

@mixin btn-black {
  border: 1px solid v.$shadow-btn;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: v.$white;
  padding: 18px 30px 16px;
  background-color: transparent;
}

@mixin number {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: v.$brown;
}

@mixin list-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: v.$brown;
  max-width: 257px;

  @include sm {
    max-width: 100%;
  }
}

@mixin input {
  background: v.$white;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: v.$shadow-brown;
}

@mixin number-white {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: v.$white;
}

@mixin name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: v.$white;
}

@mixin name-small {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: v.$shadow-white;
}

@mixin input-orange {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background: #ef6d58;
  border-radius: 19px;
  max-width: 92px;
  text-align: center;
  border: none;
}

@mixin input-newsletter {
  background: v.$white;
  border: 1px solid v.$lightorange;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: v.$shadow-brown;
  padding: 9px 0 7px 16px;
}

@mixin input-oval {
  background: v.$white;
  border-radius: 19px;
  padding: 5px 15px 1px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: v.$brown;
  border: none; 
}

@mixin btn-newsletter {
  background: v.$white;
  box-shadow: v.$shadow;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: v.$brown;
  padding: 18px 124px 16px;
  border: none;

  @include md {
    padding: 18px 45px 16px;
  }
}

@mixin btn-small {
  background: v.$white;
  border-radius: 19px;
  padding: 5px 15px 1px;
  max-width: 84px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: v.$brown;
  border: none;
}

@mixin title-tag {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: v.$white;
  text-transform: uppercase;
}
