@use "mixins.scss" as m;
@use "variables.scss" as v;
@use "icons.scss";
@use "reset.scss";
@use "layout.scss";

* {
  font-family: v.$epilogue;
  font-size: 16px;
}

.page {
  /* padding: 0 23px; */

  .header {
    @include m.header;

    &__logo {
      display: flex;

      &__img {
        width: 48px;
        height: 48px;
        margin-right: 14px;
      }
      &__txt {
        @include m.header-logo-txt;
      }
    }

    &__navmenu {
      display: none;

      @include m.md {
        display: flex;

        &__list {
          display: flex;
          gap: 100px;

          &__txt {
            @include m.txt;
            text-decoration: none;
          }
        }
      }
    }

    &__btn--black {
      display: none;

      @include m.md {
        display: block;
        @include m.btn-black;
      }

      .nav-text {
        color: white;
        text-decoration: none;
      }
    }

    &__hamburger {
      display: flex;
      align-items: center;

      @include m.md {
        display: none;
      }
      &__img {
        width: 48px;
        height: 48px;
      }
    }
  }

  .section-main {
    background-color: v.$navyblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 23px;

    @include m.sm {
      padding: 114px 23px 56px;
    }

    @include m.md {
      flex-wrap: nowrap;
      flex-direction: unset;
    }

    &__img {
      max-width: 329px;
      width: 100%;
      margin: 0 auto;

      @include m.sm {
        max-width: 529px;
      }

      @include m.md {
        max-width: 500px;
        object-fit: contain;
        order: 2;
      }

      @include m.lg {
        max-width: 570px;
      }
    }

    &__caption {
      @include m.caption;
    }

    &__title {
      @include m.title-main;
      margin: 20px 0 12px;
      max-width: 329px;

      @include m.sm {
        max-width: 100%;
      }

      @include m.md {
        margin: 24px 0;
      }
    }

    &__txt--light {
      @include m.txt-light;
      max-width: 329px;

      @include m.sm {
        max-width: 100%;
      }
    }

    &__txt {
      @include m.txt;
    }

    &__btn {
      @include m.btn-orange;
    }

    &__quote {
      display: flex;
      flex-wrap: wrap;

      &__avatar {
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }

      &__txt--light {
        @include m.txt-light;
        margin-bottom: 4px;
        max-width: 265px;

        @include m.sm {
          max-width: 100%;
        }
      }

      &__txt {
        @include m.txt;
      }

      .quote-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    .block-txt {
      @include m.md {
        order: 1;
        margin-right: 47px;
        max-width: 513px;
      }

      @include m.lg {
        margin-right: 87px;
      }
    }

    &.main-box {
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 80px 0 87px;
    }

    .btn-box {
      display: flex;
      gap: 46px;
      margin: 16px 0 44px;

      @include m.sm {
        gap: 380px;
      }

      @include m.md {
        gap: 46px;
        margin: 34px 0 112px;
      }
    }
  }

  .section-logos {
    &__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 41px;

      @include m.md {
        gap: 80px;
      }

      @include m.lg {
        gap: 146px;
      }

      &__logo {
        max-width: 147px;
        width: 100%;
      }
    }

    &.dark {
      background-color: v.$navyblue;
      padding: 0 49px 130px 30px;
    }

    &.light {
      background-color: v.$beige;
      padding: 47px 0 71px;

      @include m.md {
        padding: 73px 0 101px;
      }

      .section-logos__box {
        border-bottom: 1px solid v.$lightorange;
        padding-bottom: 50px;

        @include m.md {
          padding-bottom: 72px;
        }
      }
    }
  }

  .section-light {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 23px;
    background-color: v.$beige;

    &__img {
      max-width: 329px;
      width: 100%;
      margin: 0 auto;

      @include m.sm {
        max-width: 529px;
      }

      @include m.lg {
        max-width: 566px;
      }
    }

    &__caption {
      @include m.caption;
    }

    &__title {
      @include m.title;
    }

    &__title--black {
      @include m.title-black;
    }

    &__txt--black {
      @include m.txt-black;
    }

    &__txt--shadow {
      @include m.txt-shadow;
    }

    &__txt--small {
      @include m.txt-small;
    }

    &__btn--white {
      @include m.btn-white;
    }

    &__input-newsletter {
      @include m.input-newsletter;
      margin-top: 35px;
      margin-bottom: 16px;

      @include m.sm {
        max-width: 80%;
      }

      @include m.md {
        margin: auto 30px auto auto; 
        width: 370px; 
      }
    }
 
    &__btn-newsletter {
      @include m.btn-newsletter;

      @include m.sm {
        max-width: 80%;
      }
    }

    &__numbers {
      border-bottom: 1px solid v.$lightorange;
      padding-bottom: 71px;
      margin: 77px 0 63px;

      @include m.md {
        margin: auto;
        border-bottom: none;
        padding-bottom: 0;
      }

      &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @include m.md {
          gap: 30px;
          justify-content: space-between;
        }

        &__number {
          @include m.number;
        }

        &__txt {
          @include m.list-txt;
          margin: auto 0;
        }
      }

      &.services {
        border-bottom: none;
        padding-bottom: 0;
        margin: 77px 0 103px;
      }
    }

    &__list {
      &__item {
        @include m.txt-shadow;

        &::before {
          content: "";
          width: 32px;
          height: 32px;
          background-image: url("./images/check-orange.png");
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;
          margin-right: 16px;
        }
      }
    }

    &__box {
      @include m.md {
        display: flex;
      }

      &__cell--white {
        background: v.$white;
        border: 1px solid v.$lightorange;
        box-shadow: v.$shadow-cell;
        border-radius: 6px 6px 0px 0px;
        padding: 48px 41px 46px 48px;

        @include m.md {
          border-radius: 6px 6px 0px 6px;
          padding: 48px 48px 46px;
        }

        &__icon {
          width: 80px;
          height: 80px;
        }

        &__title {
          @include m.list-txt;
          margin-top: 41px;
          margin-bottom: 19px;
        }

        &__txt {
          @include m.txt-shadow;
        }
      }

      &__cell {
        border: 1px solid v.$lightorange;
        border-radius: 0px 0px 6px 6px;
        padding: 105px 41px 46px 48px;

        @include m.md {
          border-radius: 0px 6px 6px 0px;
          padding: 105px 48px 46px;
        }

        &__title {
          @include m.list-txt;
        }

        &__txt {
          @include m.txt-shadow;
        }
      }
    }

    &__quote {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 20px;

      @include m.md {
        flex-wrap: nowrap;
      }

      &__avatar {
        width: 64px;
        height: 64px;
        margin-right: 20px;
      }

      &__txt--quote {
        @include m.txt-quote;

        @include m.sm {
          max-width: 100%;
        }
      }

      &__txt--small {
        @include m.txt-small;
      }

      .quote-box {
        display: flex;
        flex-direction: column;
      }
    }

    &__container {
      @include m.md {
        display: flex;
      }

      &__cell {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid v.$lightorange;
        border-radius: 0px 0px 6px 6px;
        padding: 48px 35px 52px 28px;

        @include m.md {
          padding: 48px 48px 52px 48px;
          max-width: 391px;
          width: 100%;
        }

        &__icon {
          width: 80px;
          height: 80px;
          margin-bottom: 41px;
        }

        &__title {
          @include m.list-txt;
          margin-bottom: 19px;
        }

        &__txt {
          @include m.txt-shadow;
          margin-bottom: 26px;
        }

        &__txt--small {
          @include m.txt-small;
        }
      }
    }

    &__box-opinions {
      margin-bottom: 50px;

      @include m.md {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      &__opinion--white {
        background: v.$white;
        border: 1px solid v.$lightorange;
        box-shadow: v.$shadow-cell;
        border-radius: 6px 6px 0px 0px;
        padding: 49px 28px 48px;
        max-width: 329px;

        @include m.sm {
          max-width: 529px;
        }

        @include m.lg {
          max-width: 586px;
          padding: 48px;
        }
      }

      &__opinion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid v.$lightorange;
        border-radius: 6px;
        padding: 49px 28px 48px;
        max-width: 329px;

        @include m.sm {
          max-width: 529px;
        }

        @include m.lg {
          max-width: 586px;
          padding: 48px;
        }

        &__stars {
          margin-bottom: 36px;
          display: flex;
          gap: 8px;
        }

        &__txt--shadow {
          @include m.txt-shadow;
        }

        &__quote {
          display: flex;
          flex-wrap: nowrap;
          margin-top: 31px;

          &__avatar {
            width: 80px;
            height: 80px;
            margin-right: 24px;
          }
          &__name {
            @include m.list-txt;
            margin-bottom: 3px;
          }

          &__name--small {
            @include m.txt-small;
          }
        }
      }
    }

    &__box-offer {
      @include m.md {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
      }

      &__beige {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid v.$lightorange;
        border-radius: 6px 6px 0px 0px;
        padding: 44px 28px 47px;
        max-width: 329px;
        width: 100%;

        @include m.sm {
          max-width: 529px;
        }

        @include m.md {
          max-width: 320px;
        }

        @include m.lg {
          max-width: 391px;
        }

        &__caption {
          @include m.caption;
          margin-bottom: 17px;
        }

        &__title {
          @include m.title;
          margin-bottom: 15px;
        }

        &__txt--shadow {
          @include m.txt-shadow;
          margin-bottom: 27px;
        }

        &__plus {
          @include m.txt-small;

          &::before {
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("./images/icon-plus.png");
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 16px;
          }
        }

        &__minus {
          @include m.txt-shadow;

          &::before {
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("./images/icon-minus.png");
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 16px;
          }
        }

        &__btn--white {
          @include m.btn-white;
          margin-top: 36px;
        }
      }

      &__white {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: v.$white;
        border: 1px solid v.$lightorange;
        box-shadow: v.$shadow-cell;
        padding: 33px 28px 48px;
        max-width: 329px;
        width: 100%;

        @include m.sm {
          max-width: 529px;
        }

        @include m.md {
          max-width: 320px;
        }

        @include m.lg {
          max-width: 391px;
        }

        &__caption {
          @include m.caption;
          margin-bottom: 17px;
        }

        &__title {
          @include m.title;
          margin-bottom: 15px;
        }

        &__txt--shadow {
          @include m.txt-shadow;
          margin-bottom: 27px;
        }

        &__plus {
          @include m.txt-small;

          &::before {
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("./images/icon-plus.png");
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 16px;
          }
        }

        &__minus {
          @include m.txt-shadow;

          &::before {
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("./images/icon-minus.png");
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 16px;
          }
        }

        &__btn--orange {
          @include m.btn-orange;
          max-width: 154px;
          margin-top: 36px;
        }

        &__input {
          @include m.input-orange;
          margin-bottom: 24px;
        }
      }
    }

    &__tabs {
      &__tab--big {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: v.$white;
        border: 1px solid v.$lightorange;
        box-shadow: v.$shadow-cell;
        border-radius: 6px 6px 0px 0px;
        padding: 41px 28px 38px;
        max-width: 329px;

        @include m.sm {
          max-width: 529px;
        }

        &__img {
          width: 32px;
          height: 32px;
        }

        &__title {
          @include m.list-txt;
          margin-bottom: 19px;
        }

        &__txt--shadow {
          @include m.txt-shadow;
        }
      }

      &__tab {
        border: 1px solid v.$lightorange;
        max-width: 329px;
        padding: 41px 28px 39px;

        @include m.sm {
          max-width: 529px;
        }

        &__img {
          width: 32px;
          height: 32px;
        }

        &__title {
          @include m.list-txt;
          max-width: 0;
          min-width: 219px;
        }
      }

      .tabs-box {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
      }
    }

    &__box-awards {
      &__award {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid v.$lightorange;
        padding-bottom: 20px;

        @include m.md {
          flex-direction: revert;
          justify-content: space-between;
        }

        &__img {
          width: 120px;
          height: 80px;
          margin-bottom: 26px;
        }

        &__txt--black {
          @include m.txt-black;
          margin-bottom: 2px;
        }

        &__txt--shadow {
          @include m.txt-shadow;
          margin-bottom: 16px;
        }

        &__txt--small {
          @include m.txt-small;
        }

        &__logo {
          width: 38px;
          height: 48px;
        }
      }
    }

    &__box-text {
      margin: 0 auto;
      margin-top: 43px;

      &__txt--shadow {
        @include m.txt-shadow;
        margin-right: 8px;
      }

      &__txt--small {
        @include m.txt-small;
      }
    }

    &__box-blog {
      margin-top: 48px;

      @include m.md {
        display: flex;
        gap: 30px;
        border-bottom: 1px solid #f3d1bf;
        padding-bottom: 52px;
      }

      &__post {
        margin-bottom: 52px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        &__img {
          max-width: 370px;
          margin-bottom: 26px;

          @include m.sm {
            max-width: 600px;
          }

          @include m.md {
            max-width: 370px;
          }
        }

        &__txt--black {
          @include m.txt-black;
        }

        &__title--black {
          @include m.title-black;
          margin: 15px 0;
        }

        &__txt--shadow {
          @include m.txt-shadow;
        }
      }

      .border {
        border-bottom: 1px solid v.$lightorange;
        padding-bottom: 52px;
        margin-bottom: 0px;

        @include m.md {
          border-bottom: none;
        }
      }
    }

    &__form {
      background: v.$white;
      border-radius: 6px;
      max-width: 329px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 57px 28px 48px;
      margin-bottom: 65px;

      &__title--black {
        @include m.title-black;
        margin-bottom: 23px;
      }

      &__input {
        @include m.input-newsletter;
        width: 273px;

        &:nth-child(4) {
          padding-bottom: 55px;
        }
      }

      &__btn--orange {
        @include m.btn-orange;
        margin-left: 147px;
      }
    }

    &__map {
      margin-bottom: 32px;
      padding-bottom: 150%;
      position: relative;

      @include m.sm {
        padding-bottom: 50%;
      }

      &__img {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute; 
      }

      &__icon {
        width: 72px;
        height: 72px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    &__box-contact {
      @include m.md {
        display: flex;
        align-items: center; 
        justify-content: center;
      }
      &__cell {
        border: 1px solid v.$lightorange;
        border-radius: 6px 6px 0px 0px;
        padding: 32px 0 37px 28px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include m.md {
          width: 321px; 
        }

        @include m.lg {
          width: 391px; 
        }
 
        &__icon {
          width: 64px;
          height: 64px;
          margin-right: 24px;
        }

        &__caption {
          @include m.caption;
          margin: auto 0;
        }

        &__txt--black {
          @include m.txt-black;
        }

        .box {
          display: flex;
          flex-wrap: no-wrap;
          margin-bottom: 26px;
        }
      }
    }

    &__box-img {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 17px;
      margin-top: 17px;

      &__img-small {
        max-width: 156px;
      }
    }

    &__icon-tab {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: v.$beige;
      border-bottom: 1px solid v.$lightorange;
      border-top: 1px solid v.$lightorange;
      padding: 32px 0;

      &__title {
        @include m.title;
        max-width: 150px;
      }

      &__icon--big {
        width: 80px;
        height: 80px;
      }

      &__icon--small {
        width: 32px;
        height: 32px;
      }
    }

    &.service {
      padding-bottom: 124px;

      @include m.md {
        padding-bottom: 141px;
      }
    }

    &.agency {
      padding-bottom: 283px;

      @include m.md {
        padding-bottom: 128px;
      }

      .section-light__title {
        @include m.md {
          max-width: 336px;
        }
      }
    }

    &.testominals {
      justify-content: start;
      align-items: start;
      padding: 92px 23px 124px;

      @include m.sm {
        justify-content: center;
        align-items: center;
      }

      @include m.md {
        padding: 92px 23px 108px;
      }
    }

    &.pricing {
      padding-bottom: 92px;

      @include m.sm {
        justify-content: center;
        align-items: center;
      }

      @include m.md {
        justify-content: start;
        align-items: start;
        padding-bottom: 156px;

        .section-light__title {
          @include m.title-big;
          max-width: 358px;
        }
      }
    }

    &.awards {
      padding: 92px 23px 96px;

      @include m.md {
        padding: 156px 23px 112px;
      }

      .section-light__title {
        text-align: center;
        border-bottom: 1px solid v.$lightorange;
        padding-bottom: 35px;
        margin-bottom: 31px;
      }
    }

    &.ourblog {
      padding-bottom: 76px;

      .section-light__box-blog__post__title--black {
        max-width: 329px;

        @include m.sm {
          max-width: 100%;
        }
      }

      &.blog {
        padding: 80px 23px 76px;
      }
    }

    &.newsletter {
      padding: 76px 23px 128px;

      @include m.md {
        display: flex;
        flex-direction: row;
        align-items: center;

        .section-light__title {
          margin-right: 367px; 
        }
      }
    }

    &.newsletter-blog {
      border-bottom: 1px solid v.$lightorange;
      border-top: 1px solid v.$lightorange;
      padding: 76px 23px 80px;
    }

    &.contact {
      padding-bottom: 128px;

      @include m.md {
        padding-bottom: 130px;
      }
    }

    &.contact-sub {
      padding-bottom: 108px;
    }

    &.faq {
      @include m.sm {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @include m.md {
        align-items: start;
      }

      .section-light__title {
        max-width: 329px;

        @include m.sm {
          max-width: 100%;
        }
      }
    }

    &.features {
      padding-bottom: 112px;

      @include m.md {
        padding: 202px 23px 213px;
        gap: 130px;
      }
    }

    &.features2 {
      padding-bottom: 81px;
    }

    &.about {
      padding: 76px 23px 88px;

      .section-light__txt--shadow {
        max-width: 329px;

        @include m.sm {
          max-width: 100%;
        }
      }
    }

    &.aboutus {
      .section-light__title {
        @include m.md {
          @include m.title-big;
        }
      }
    }

    &.howwework {
      @include m.md {
        border-bottom: 1px solid v.$lightorange;
        padding-bottom: 108px;
      }
    }

    &.howwork {
      padding-top: 91px;

      .section-light__txt--shadow {
        max-width: 329px;

        @include m.sm {
          max-width: 100%;
        }
      }
    }

    &.list {
      padding: 72px 23px 84px;

      .section-light__title--black {
        max-width: 329px;
        margin-bottom: 28px;

        @include m.sm {
          max-width: 100%;
        }
      }

      .section-light__txt--shadow {
        max-width: 329px;
        margin-bottom: 42px;

        @include m.sm {
          max-width: 100%;
        }
      }

      .section-light__txt--small {
        &::before {
          content: "";
          width: 32px;
          height: 32px;
          background-image: url("./images/check-orange.png");
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;
          margin-right: 16px;
        }
      }
    }

    &.video {
      @include m.md {
        padding: 127px 23px 215px;
      }
    }

    &.empty {
      padding-top: 79px;
    }

    &.map {
      padding-top: 64px;
    }

    &.nowrap {
      @include m.md {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: unset;
      }
    }

    .order {
      order: 2;
    }

    .block-txt {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @include m.md {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        max-width: 470px;
      }

      @include m.lg {
        margin-left: 130px;
      }
    }

    .btn-center {
      margin: 0 auto;
    }

    .small-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include m.md {
        gap: 24px;
        flex-direction: row;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;

      @include m.md {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &.banner {
      padding: 0; 

      @include m.md {
        padding: 0 60px;  
      }
  
      @include m.lg {
        padding: 0 135px;  
      }
    }
  }

  .section-box {
    background-color: v.$beige;

    &__cell {
      border: 1px solid v.$lightorange;
      border-radius: 6px 6px 0px 0px;
      padding: 48px 0 38px 48px;

      @include m.md {
        border-radius: 6px 0px 0px 0px;
        padding: 45px 105px 38px 48px;
      }

      @include m.lg {
        padding-right: 145px;
      }

      &__number {
        @include m.title;
        margin-bottom: 13px;
      }

      &__txt--black {
        @include m.txt-black;
      }
    }

    &.box-main {
      padding: 112px 23px 94px;

      @include m.md {
        display: flex;
        justify-content: center;
        padding: 161px 23px 140px;
      }
    }

    &.box-aboutus {
      padding: 0 23px 98px;
    }
  }

  .section-dark {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 23px;
    background-color: v.$navyblue;

    &__img {
      max-width: 329px;
    }

    &__input {
      @include m.input;
      padding: 9px 0 7px 16px;
      width: 100%;

      @include m.sm {
        width: 80%;
      }

      @include m.md {
        display: none;
      }
    }

    &__nav {
      display: none;

      @include m.md {
        display: flex;
        margin: 44px 0 68px;
        gap: 60px;
      }

      &__txt--light {
        @include m.txt-light;
      }

      &__sub {
        @include m.txt-sub;
      }
    }

    &__btn--small {
      @include m.btn-small;
      position: absolute;
      left: 50%;
      transform: translate(-180%, 400%);

      @include m.sm {
        transform: translate(-280%, 700%);
      }
    }

    &__title--tag {
      @include m.title-tag;
      position: absolute;
      left: 50%;
      transform: translate(-155%, -230%);

      @include m.sm {
        transform: translate(-235%, -300%);
      }
    }

    &__caption {
      @include m.caption;
    }

    &__title--white {
      @include m.title-white;
    }

    &__title--left {
      @include m.title-left;
    }

    &__txt--light {
      @include m.txt-light;
    }

    &__txt {
      @include m.txt;
    }

    &__btn--black {
      @include m.btn-black;
    }

    &__box {
      margin-bottom: 100px;
      display: block;

      @include m.md {
        display: flex;
        gap: 30px;
        margin-bottom: 64px;
      }

      &__cell {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid v.$blue;
        border-radius: 6px;
        padding: 41px 28px 36px;

        @include m.md {
          max-width: 370px;
          width: 100%;
          margin-bottom: 0;
        }

        &__date {
          display: flex;
          flex-wrap: wrap;

          &__number {
            @include m.number-white;
            margin-right: 12px;
          }

          &__title--small {
            @include m.title-small;
            max-width: 127px;
          }
        }

        &__txt--light {
          @include m.txt-light;
        }

        &__txt {
          @include m.txt;
        }

        &__title--small {
          @include m.title-small;
        }
      }

      .border {
        border-bottom: 1px solid v.$blue;
        padding-bottom: 36px;
      }
    }

    &__icons {
      display: none;

      @include m.md {
        display: flex;
        gap: 16px;

        &__arrow {
          height: 48px;
          width: 48px;
        }
      }
    }

    &__scroll {
      display: none;

      @include m.md {
        display: flex;
        gap: 20px;
        margin: 52px auto 180px;

        &__icon {
          width: 12px;
          height: 12px;
        }
      }
    }

    &__container {
      @include m.md {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
      }
      &__person {
        &__img {
          border: 1px solid v.$blue;
          border-radius: 6px;
          max-width: 270px;
          padding: 0 37px;
          margin-bottom: 26px;

          @include m.md {
            height: 200px;
            width: 200px;
          }

          .avatar {
            max-width: 196px;

            @include m.md {
              max-height: 200px;
              height: 100%;
            }
          }
        }

        &__title--small {
          @include m.title-small;
        }

        &__txt--light {
          @include m.txt-light;
        }
      }
    }

    &__name {
      @include m.name;
      margin-bottom: 6px;
    }

    &__name--small {
      @include m.name-small;
    }

    &__img {
      max-width: 329px;

      @include m.sm {
        max-width: 529px;
      }
    }

    &__title--small {
      @include m.title-small;
      max-width: 329px;

      @include m.sm {
        max-width: 529px;
      }
    }

    &__tabs {
      &__tab--big {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: v.$white;
        border: 1px solid v.$blue;
        box-shadow: v.$shadow-tab;
        border-radius: 6px 6px 0px 0px;
        padding: 41px 28px 38px;
        max-width: 329px;

        @include m.sm {
          max-width: 529px;
        }

        &__img {
          width: 32px;
          height: 32px;
        }

        &__title {
          @include m.list-txt;
          margin-bottom: 19px;
        }

        &__txt--shadow {
          @include m.txt-shadow;
        }
      }

      &__tab {
        border: 1px solid v.$blue;
        max-width: 329px;
        padding: 41px 28px 39px;

        @include m.sm {
          max-width: 529px;
        }

        &__img {
          width: 32px;
          height: 32px;
        }

        &__title--small {
          @include m.title-small;
          max-width: 0;
          min-width: 219px;

          @include m.sm {
            max-width: 100%;
          }
        }
      }

      .tabs-box {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
      }
    }

    &.portfolio {
      padding: 55px 0 144px;
    }

    &.events {
      padding-bottom: 124px;

      @include m.md {
        padding-bottom: 0;
        .section-dark__title--white {
          max-width: 426px;
        }
      }
    }

    &.ourteam {
      justify-content: start;
      align-items: start;
      padding: 116px 23px 35px;

      @include m.sm {
        justify-content: center;
        align-items: center;
      }

      @include m.md {
        padding: 140px 23px 180px;
        justify-content: start;
        align-items: start;

        .section-dark__title--left {
          max-width: 531px;
        }
      }
    }

    &.ourteam-aboutus {
      justify-content: start;
      align-items: start;
      padding-top: 108px;

      @include m.sm {
        justify-content: center;
        align-items: center;
      }
    }

    &.founder {
      justify-content: start;
      align-items: start;
      padding-bottom: 118px;

      @include m.sm {
        justify-content: center;
        align-items: center;
      }

      @include m.md {
        padding-bottom: 345px;
      }

      .section-dark__title--small {
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
      }
    }

    &.faq {
      justify-content: start;
      align-items: start;
      padding: 112px 23px 118px;

      .section-light__title {
        max-width: 329px;
      }

      @include m.sm {
        justify-content: center;
        align-items: center;
      }
    }

    &.banner {
      @include m.sm {
        padding-bottom: 60px;
      }
    }

    &.nowrap {
      @include m.md {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: unset;
      }
    }

    .block-txt {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @include m.md {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        max-width: 470px;
      }

      @include m.lg {
        margin-left: 130px;
      }
    }

    .wrap-icons {
      @include m.md {
        display: flex;
        gap: 527px;
      }
    }

    .box-img {
      position: relative;
    }

    .quote-box {
      position: relative;
      margin-bottom: 29px;
    }

    .box-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 32px;
      margin-bottom: 48px;

      @include m.md {
        gap: 30px;

        .sofa {
          max-width: 470px;
        }

        .keyboard {
          max-width: 670px;
        }

        .workmedia {
          max-width: 670px;
        }

        .dddone {
          max-width: 470px;
        }
      }
    }
  }

  .section-banner {
    padding: 0 7px 140px 39px;
    background-color: v.$navyblue;
    position: relative;

    @include m.sm {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 135px 60px;
    }

    &__icon {
      width: 148px;
      height: 148px;
      position: absolute;
      top: -75;

      @include m.md {
        left: 200;
      }
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      background: v.$beige;
      border-radius: 6px;
      max-width: 329px;
      padding: 92px 53px 0 28px;

      @include m.md {
        flex-wrap: nowrap;
        flex-direction: row;
        max-width: 1000px;
        width: 100%;
        gap: 60px;
        padding: 80 83px 0 100px;
      }

      @include m.lg {
        max-width: 1170px;
        gap: 100px;
      }

      &__caption {
        @include m.caption;
        margin-bottom: 13px;
      }

      &__title {
        @include m.title;
        margin-bottom: 23px;

        @include m.md {
          @include m.title-black;
          max-width: 248px;
        }
      }

      &__btn {
        @include m.btn-orange;
        max-width: 154px;
        margin-bottom: 29px;
      }

      &__img {
        max-width: 351px;
        width: 100%;

        @include m.md {
          max-width: 338px;
          width: 100%;
          object-fit: cover;
        }
      }

      &__img-woman {
        margin: 0 auto;
        max-width: 191px;
      }
    }
  }

  .banner-orange {
    background: v.$orange;
    border-radius: 6px;
    padding: 32px 28px 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include m.sm {
      justify-content: center;
      align-items: center;
    }

    @include m.md {
      flex-direction: revert;
      gap: 50px;
    }

    @include m.lg {
      gap: 100px; 
    }

    &__img {
      max-width: 273px;
      margin-bottom: 37px;

      @include m.sm {
        max-width: 523px;
      }

      @include m.md {
        order: 2; 
      }
    }

    &__title--white {
      @include m.title-white;
      text-align: left;
      margin-bottom: 15px;
      max-width: 274px;

      @include m.sm {
        max-width: 523px;
        text-align: center;
      }

      @include m.md {
        text-align: left; 
      }
    }

    &__txt--light {
      @include m.txt-light;
      margin-bottom: 21px;
      max-width: 273px;

      @include m.sm {
        text-align: center;
        max-width: 523px;
      }

      @include m.md {
        text-align: left; 
      }
    }

    &__btn--white {
      @include m.btn-white;
      margin: 0;

      @include m.sm {
        margin: auto; 
      }

      @include m.md {
        margin: 0; 
      }
    }
  }

  .footer {
    background-color: v.$beige;
    padding: 121px 23px 30px;

    &__navfooter {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid v.$lightorange;
      padding-bottom: 64px;
      margin-bottom: 43px;

      &__title {
        @include m.title-black;
        margin-bottom: 51px;
      }

      &__list {
        text-align: center;

        &__title {
          @include m.caption;
          margin-bottom: 16px;
        }

        &__txt {
          @include m.txt-small;
        }
      }

      &__socialmedia {
        &__icon {
          width: 48px;
          height: 48px;
        }
      }
    }

    &__copyright {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__txt--shadow {
        @include m.txt-shadow;
        max-width: 198px;
        margin-bottom: 32px;
      }

      &__txt--small {
        @include m.txt-small;
      }

      .txt-box {
        display: flex;
        gap: 68px;
      }
    }
  }
}
