@use "mixins.scss" as m;
@use "variables.scss" as v;
@use "icons.scss";
@use "reset.scss";

* {
  font-family: v.$epilogue;
  font-size: 16px;
}

.page {
  /* padding: 0 23px; */

  .header {
    @include m.header;

    &__logo {
      display: flex;
      &__img {
        width: 48px;
        height: 48px;
        margin-right: 14px;
      }
      &__txt {
        @include m.header-logo-txt;
      }
    }

    &__navmenu {
      display: none;
    }

    &__hamburger {
      display: flex;
      align-items: center;
      &__img {
        width: 48px;
        height: 48px;
      }
    }
  }

  .section-main {
    background-color: v.$navyblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 23px;

    &__img {
      max-width: 329px;
      width: 100%;
      margin: 0 auto;
    }

    &__caption {
      @include m.caption;
    }

    &__title {
      @include m.title-main;
      padding: 20px 0 12px;
      max-width: 329px;
    }

    &__txt--light {
      @include m.txt-light;
      max-width: 329px;
    }

    &__txt {
      @include m.txt;
    }

    &__btn {
      @include m.btn-orange;
    }

    &__quote {
      display: flex;
      flex-wrap: wrap;

      &__avatar {
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }

      &__txt--light {
        @include m.txt-light;
        margin-bottom: 4px;
        max-width: 265px;
      }

      &__txt {
        @include m.txt;
      }

      .quote-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    .btn-box {
      display: flex;
      gap: 46px;
      padding: 16px 0 44px;
    }
  }

  .section-logos {
    background-color: v.$beige;
    padding: 47px 49px 71px 30px;

    &__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 41px;
      border-bottom: 1px solid v.$lightorange;
      padding-bottom: 50px;

      &__logo {
        max-width: 147px;
        width: 100%;
      }
    }
  }

  .section-light {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 23px;
    background-color: v.$beige;

    &__img {
      max-width: 329px;
      width: 100%;
      margin: 0 auto;
    }

    &__caption {
      @include m.caption;
    }

    &__title {
      @include m.title;
    }

    &__txt--black {
      @include m.txt-black;
    }

    &__txt--shadow {
      @include m.txt-shadow;
    }

    &__btn--white {
      @include m.btn-white;
    }

    &__list {
      border-bottom: 1px solid v.$lightorange;
      padding-bottom: 71px;
      margin: 77px 0 63px;

      &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__number {
          @include m.number;
        }

        &__txt {
          @include m.list-txt;
        }
      }
    }

    .mb-15 {
      margin-bottom: 15px;
    }

    .mb-16 {
      margin-bottom: 16px;
    }

    .mb-17 {
      margin-bottom: 17px;
    }

    .mb-29 {
      margin-bottom: 29px;
    }

    .mb-32 {
      margin-bottom: 32px;
    }

    .mt-18 {
      margin-top: 18px;
    }

    .mt-32 {
      margin-top: 32px;
    }
  }

  .section-box {
    background-color: v.$beige;
    padding: 112px 23px 94px;

    &__cell {
      border: 1px solid v.$lightorange;
      border-radius: 6px 6px 0px 0px;
      padding: 48px 0 38px 48px;

      &__number {
        @include m.title;
        margin-bottom: 13px;
      }

      &__txt--black {
        @include m.txt-black;
      }
    }
  }
}
