@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?jc66y4");
  src: url("fonts/icomoon.ttf?jc66y4") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
  color: #ffffff;
}

.icon-arrow-left:before {
  content: "\e901";
  color: #ffffff;
}

.icon-arrow-right:before {
  content: "\e902";
  color: #ffffff;
}

.icon-board:before {
  content: "\e903";
  color: #ffffff;
}

.icon-briefcase:before {
  content: "\e904";
  color: #ffffff;
}

.icon-check:before {
  content: "\e905";
  color: #ffffff;
}

.icon-check-oval .path1:before {
  content: "\e906";
  color: rgb(239, 108, 87);
}

.icon-check-oval .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-clock:before {
  content: "\e908";
  color: #EF6D58;
  margin-right: 8px;
}

.icon-down .path1:before {
  content: "\e909";
  color: rgb(239, 109, 88);
}

.icon-down .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-email:before {
  content: "\e90b";
  color: #ffffff;
}

.icon-facebook:before {
  content: "\e90c";
  color: #ffffff;
}

.icon-gear:before {
  content: "\e90d";
  color: #ffffff;
}

.icon-gift:before {
  content: "\e90e";
  color: #ffffff;
}

.icon-instagram:before {
  content: "\e90f";
  color: #fff;
}

.icon-minus .path1:before {
  content: "\e910";
  color: rgb(246, 218, 202);
}

.icon-minus .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-oval:before {
  content: "\e912";
  color: #EF6D58;
}

.icon-path:before {
  content: "\e913";
}

.icon-phone:before {
  content: "\e914";
  color: #ffffff;
}

.icon-pin .path1:before {
  content: "\e915";
  color: rgb(239, 109, 88);
}

.icon-pin .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-pinterest:before {
  content: "\e917";
  color: #ffffff;
}

.icon-plus .path1:before {
  content: "\e918";
  color: rgb(239, 109, 88);
}

.icon-plus .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-polygon:before {
  content: "\e91a";
}

.icon-quote:before {
  content: "\e91b";
  color: #494a69;
  font-size: 6rem;
  position: absolute;
  left: 250;
}

.icon-shape:before {
  content: "\e91c";
  color: #ffffff;
}

.icon-star:before {
  content: "\e91d";
  color: #ef6d58;
}

.icon-star-gift .path1:before {
  content: "\e91e";
  color: rgb(239, 109, 88);
}

.icon-star-gift .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-star-small:before {
  content: "\e920";
  color: #f6d021;
}

.icon-triangle:before {
  content: "\e921";
  color: #EF6D58;
}

.icon-twitter:before {
  content: "\e922";
  color: #ffffff;
}

.icon-up .path1:before {
  content: "\e923";
  color: rgb(239, 109, 88);
}

.icon-up .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-29 {
  margin-bottom: 29px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-81 {
  margin-bottom: 81px;
}

.mb-128 {
  margin-bottom: 128px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-22 {
  margin-right: 22px;
}

* {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
}

.page {
  /* padding: 0 23px; */
}
.page .header {
  background-color: #28293E;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 23px;
}
.page .header__logo {
  display: flex;
}
.page .header__logo__img {
  width: 48px;
  height: 48px;
  margin-right: 14px;
}
.page .header__logo__txt {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.page .header__navmenu {
  display: none;
}
.page .header__hamburger {
  display: flex;
  align-items: center;
}
.page .header__hamburger__img {
  width: 48px;
  height: 48px;
}
.page .section-main {
  background-color: #28293E;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 23px;
}
.page .section-main__img {
  max-width: 329px;
  width: 100%;
  margin: 0 auto;
}
.page .section-main__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.page .section-main__title {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #ffffff;
  padding: 20px 0 12px;
  max-width: 329px;
}
.page .section-main__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  max-width: 329px;
}
.page .section-main__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-main__btn {
  background-color: #EF6D58;
  border-radius: 6px;
  padding: 18px 23px 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.page .section-main__quote {
  display: flex;
  flex-wrap: wrap;
}
.page .section-main__quote__avatar {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.page .section-main__quote__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 4px;
  max-width: 265px;
}
.page .section-main__quote__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-main__quote .quote-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.page .section-main.main-box {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 87px;
}
.page .section-main .btn-box {
  display: flex;
  gap: 46px;
  padding: 16px 0 44px;
}
.page .section-logos__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 41px;
}
.page .section-logos__box__logo {
  max-width: 147px;
  width: 100%;
}
.page .section-logos.dark {
  background-color: #28293E;
  padding: 0 49px 130px 30px;
}
.page .section-logos.light {
  background-color: #FDF0E9;
  padding: 47px 49px 71px 30px;
}
.page .section-logos.light .section-logos__box {
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 50px;
}
.page .section-light {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 23px;
  background-color: #FDF0E9;
}
.page .section-light__img {
  max-width: 329px;
  width: 100%;
  margin: 0 auto;
}
.page .section-light__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.page .section-light__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
}
.page .section-light__title--black {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__txt--black {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__btn--white {
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
  padding: 18px 33px 16px;
  max-width: 154px;
  border: none;
}
.page .section-light__input-newsletter {
  background: #ffffff;
  border: 1px solid #F3D1BF;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  padding: 9px 0 7px 16px;
  margin-top: 35px;
  margin-bottom: 16px;
}
.page .section-light__btn-newsletter {
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
  padding: 18px 124px 16px;
  border: none;
}
.page .section-light__numbers {
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 71px;
  margin: 77px 0 63px;
}
.page .section-light__numbers__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page .section-light__numbers__box__number {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #391400;
}
.page .section-light__numbers__box__txt {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
}
.page .section-light__numbers.services {
  border-bottom: none;
  padding-bottom: 0;
  margin: 77px 0 103px;
}
.page .section-light__list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__list__item::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./images/check-orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 16px;
}
.page .section-light__box__cell--white {
  background: #ffffff;
  border: 1px solid #F3D1BF;
  box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
  border-radius: 6px 6px 0px 0px;
  padding: 48px 41px 46px 48px;
}
.page .section-light__box__cell--white__icon {
  width: 80px;
  height: 80px;
}
.page .section-light__box__cell--white__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
  margin-top: 41px;
  margin-bottom: 19px;
}
.page .section-light__box__cell--white__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__box__cell {
  border: 1px solid #F3D1BF;
  border-radius: 0px 0px 6px 6px;
  padding: 105px 41px 46px 48px;
}
.page .section-light__box__cell__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
}
.page .section-light__box__cell__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__quote {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.page .section-light__quote__avatar {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
.page .section-light__quote__txt--quote {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(57, 20, 0, 0.64);
  max-width: 245px;
}
.page .section-light__quote__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__quote .quote-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.page .section-light__container__cell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #F3D1BF;
  border-radius: 0px 0px 6px 6px;
  padding: 48px 35px 52px 28px;
}
.page .section-light__container__cell__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 41px;
}
.page .section-light__container__cell__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
  margin-bottom: 19px;
}
.page .section-light__container__cell__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 26px;
}
.page .section-light__container__cell__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__box-opinions {
  margin-bottom: 50px;
}
.page .section-light__box-opinions__opinion--white {
  background: #ffffff;
  border: 1px solid #F3D1BF;
  box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
  border-radius: 6px 6px 0px 0px;
  padding: 49px 28px 48px;
  max-width: 329px;
}
.page .section-light__box-opinions__opinion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #F3D1BF;
  border-radius: 6px;
  padding: 49px 28px 48px;
  max-width: 329px;
}
.page .section-light__box-opinions__opinion__stars {
  margin-bottom: 36px;
  display: flex;
  gap: 8px;
}
.page .section-light__box-opinions__opinion__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__box-opinions__opinion__quote {
  display: flex;
  flex-wrap: no-wrap;
  margin-top: 31px;
}
.page .section-light__box-opinions__opinion__quote__avatar {
  width: 80px;
  height: 80px;
  margin-right: 24px;
}
.page .section-light__box-opinions__opinion__quote__name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
  margin-bottom: 3px;
}
.page .section-light__box-opinions__opinion__quote__name--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__box-offer__beige {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #F3D1BF;
  border-radius: 6px 6px 0px 0px;
  padding: 44px 28px 47px;
  max-width: 329px;
}
.page .section-light__box-offer__beige__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  margin-bottom: 17px;
}
.page .section-light__box-offer__beige__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
  margin-bottom: 15px;
}
.page .section-light__box-offer__beige__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 27px;
}
.page .section-light__box-offer__beige__plus {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__box-offer__beige__plus::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("./images/icon-plus.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 16px;
}
.page .section-light__box-offer__beige__minus {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__box-offer__beige__minus::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("./images/icon-minus.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 16px;
}
.page .section-light__box-offer__beige__btn--white {
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
  padding: 18px 33px 16px;
  max-width: 154px;
  border: none;
  margin-top: 36px;
}
.page .section-light__box-offer__white {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #F3D1BF;
  box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
  padding: 33px 28px 48px;
  max-width: 329px;
}
.page .section-light__box-offer__white__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  margin-bottom: 17px;
}
.page .section-light__box-offer__white__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
  margin-bottom: 15px;
}
.page .section-light__box-offer__white__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 27px;
}
.page .section-light__box-offer__white__plus {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__box-offer__white__plus::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("./images/icon-plus.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 16px;
}
.page .section-light__box-offer__white__minus {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__box-offer__white__minus::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("./images/icon-minus.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 16px;
}
.page .section-light__box-offer__white__btn--orange {
  background-color: #EF6D58;
  border-radius: 6px;
  padding: 18px 23px 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  max-width: 154px;
  margin-top: 36px;
}
.page .section-light__box-offer__white__input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background: #ef6d58;
  border-radius: 19px;
  max-width: 92px;
  text-align: center;
  border: none;
  margin-bottom: 24px;
}
.page .section-light__tabs__tab--big {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #F3D1BF;
  box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
  border-radius: 6px 6px 0px 0px;
  padding: 41px 28px 38px;
  max-width: 329px;
}
.page .section-light__tabs__tab--big__img {
  width: 32px;
  height: 32px;
}
.page .section-light__tabs__tab--big__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
  margin-bottom: 19px;
}
.page .section-light__tabs__tab--big__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__tabs__tab {
  display: flex;
  flex-wrap: no-wrap;
  border: 1px solid #F3D1BF;
  max-width: 329px;
  padding: 41px 28px 39px;
}
.page .section-light__tabs__tab__img {
  width: 32px;
  height: 32px;
}
.page .section-light__tabs__tab__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
  max-width: 0;
  min-width: 219px;
}
.page .section-light__tabs .tabs-box {
  display: flex;
  flex-wrap: no-wrap;
}
.page .section-light__box-awards__award {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 20px;
}
.page .section-light__box-awards__award__img {
  width: 120px;
  height: 80px;
  margin-bottom: 26px;
}
.page .section-light__box-awards__award__txt--black {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
  margin-bottom: 2px;
}
.page .section-light__box-awards__award__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 16px;
}
.page .section-light__box-awards__award__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__box-awards__award__logo {
  width: 38px;
  height: 48px;
}
.page .section-light__box-text {
  margin: 0 auto;
  margin-top: 43px;
}
.page .section-light__box-text__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  margin-right: 8px;
}
.page .section-light__box-text__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__box-blog {
  margin-top: 48px;
}
.page .section-light__box-blog__post {
  margin-bottom: 52px;
}
.page .section-light__box-blog__post__img {
  max-width: 370px;
  margin-bottom: 26px;
}
.page .section-light__box-blog__post__txt--black {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__box-blog__post__title--black {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  margin: 15px 0;
}
.page .section-light__box-blog__post__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__box-blog .border {
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 52px;
  margin-bottom: 0px;
}
.page .section-light__form {
  background: #ffffff;
  border-radius: 6px;
  max-width: 329px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 57px 28px 48px;
  margin-bottom: 65px;
}
.page .section-light__form__title--black {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  margin-bottom: 23px;
}
.page .section-light__form__input {
  background: #ffffff;
  border: 1px solid #F3D1BF;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  padding: 9px 0 7px 16px;
  width: 273px;
}
.page .section-light__form__input:nth-child(4) {
  padding-bottom: 55px;
}
.page .section-light__form__btn--orange {
  background-color: #EF6D58;
  border-radius: 6px;
  padding: 18px 23px 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin-left: 147px;
}
.page .section-light__map {
  position: relative;
  margin-bottom: 32px;
}
.page .section-light__map__img {
  width: 375px;
  height: 719px;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .section-light__map__icon {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.page .section-light__box-contact__cell {
  border: 1px solid #F3D1BF;
  border-radius: 6px 6px 0px 0px;
  padding: 32px 0 37px 28px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.page .section-light__box-contact__cell__icon {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}
.page .section-light__box-contact__cell__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  margin: auto 0;
}
.page .section-light__box-contact__cell__txt--black {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__box-contact__cell .box {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 26px;
}
.page .section-light__box-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 17px;
}
.page .section-light__box-img__img-small {
  max-width: 156px;
}
.page .section-light__icon-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FDF0E9;
  border-bottom: 1px solid #F3D1BF;
  border-top: 1px solid #F3D1BF;
  padding-bottom: 32px;
  padding-top: 32px;
}
.page .section-light__icon-tab__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
  max-width: 150px;
}
.page .section-light__icon-tab__icon--big {
  width: 80px;
  height: 80px;
}
.page .section-light__icon-tab__icon--small {
  width: 32px;
  height: 32px;
}
.page .section-light.service {
  padding-bottom: 124px;
}
.page .section-light.agency {
  padding-bottom: 283px;
}
.page .section-light.testominals {
  justify-content: start;
  align-items: start;
  padding-top: 92px;
  padding-bottom: 124px;
}
.page .section-light.pricing {
  padding-bottom: 92px;
}
.page .section-light.awards {
  padding-top: 92px;
  padding-bottom: 96px;
}
.page .section-light.awards .section-light__title {
  text-align: center;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 35px;
  margin-bottom: 31px;
}
.page .section-light.ourblog {
  padding-bottom: 76px;
}
.page .section-light.ourblog .section-light__box-blog__post__title--black {
  max-width: 329px;
}
.page .section-light.ourblog.blog {
  padding-top: 80px;
  padding-bottom: 76px;
}
.page .section-light.newsletter {
  padding-bottom: 128px;
}
.page .section-light.newsletter-blog {
  border-bottom: 1px solid #F3D1BF;
  border-top: 1px solid #F3D1BF;
  padding-top: 76px;
  padding-bottom: 80px;
}
.page .section-light.contact {
  padding-bottom: 128px;
}
.page .section-light.contact-sub {
  padding-bottom: 108px;
}
.page .section-light.faq .section-light__title {
  max-width: 329px;
}
.page .section-light.features {
  padding-bottom: 112px;
}
.page .section-light.features2 {
  padding-bottom: 81px;
}
.page .section-light.about {
  padding-top: 76px;
  padding-bottom: 88px;
}
.page .section-light.about .section-light__txt--shadow {
  max-width: 329px;
}
.page .section-light.howwork {
  padding-top: 91px;
}
.page .section-light.howwork .section-light__txt--shadow {
  max-width: 329px;
}
.page .section-light.list {
  padding-top: 72px;
  padding-bottom: 84px;
}
.page .section-light.list .section-light__title--black {
  max-width: 329px;
  margin-bottom: 28px;
}
.page .section-light.list .section-light__txt--shadow {
  max-width: 329px;
  margin-bottom: 42px;
}
.page .section-light.list .section-light__txt--small::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./images/check-orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 16px;
}
.page .section-light.empty {
  padding-top: 79px;
}
.page .section-light.map {
  padding-top: 64px;
}
.page .section-light .btn-center {
  margin: 0 auto;
}
.page .section-box {
  background-color: #FDF0E9;
}
.page .section-box__cell {
  border: 1px solid #F3D1BF;
  border-radius: 6px 6px 0px 0px;
  padding: 48px 0 38px 48px;
}
.page .section-box__cell__number {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
  margin-bottom: 13px;
}
.page .section-box__cell__txt--black {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.page .section-box.box-main {
  padding: 112px 23px 94px;
}
.page .section-box.box-aboutus {
  padding: 0 23px 98px;
}
.page .section-dark {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 23px;
  background-color: #28293E;
}
.page .section-dark__img {
  max-width: 329px;
}
.page .section-dark__input {
  background: #ffffff;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  padding: 9px 0 7px 16px;
  width: 100%;
}
.page .section-dark__btn--small {
  background: #ffffff;
  border-radius: 19px;
  padding: 5px 15px 1px;
  max-width: 84px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
  border: none;
  position: absolute;
  left: 50%;
  transform: translate(-180%, 400%);
}
.page .section-dark__title--tag {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translate(-155%, -230%);
}
.page .section-dark__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.page .section-dark__title--white {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.page .section-dark__title--left {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
}
.page .section-dark__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.page .section-dark__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-dark__btn--black {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 30px 16px;
  background-color: transparent;
}
.page .section-dark__box {
  margin-bottom: 100px;
}
.page .section-dark__box__cell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #3A3C56;
  border-radius: 6px;
  padding: 41px 28px 36px;
}
.page .section-dark__box__cell__date {
  display: flex;
  flex-wrap: wrap;
}
.page .section-dark__box__cell__date__number {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #ffffff;
  margin-right: 12px;
}
.page .section-dark__box__cell__date__title--small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  max-width: 127px;
}
.page .section-dark__box__cell__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.page .section-dark__box__cell__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-dark__box__cell__title--small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-dark__box .border {
  border-bottom: 1px solid #3A3C56;
  padding-bottom: 36px;
}
.page .section-dark__container__person__img {
  border: 1px solid #3A3C56;
  border-radius: 6px;
  max-width: 270px;
  padding: 0 37px;
  margin-bottom: 26px;
}
.page .section-dark__container__person__img .avatar {
  max-width: 196px;
}
.page .section-dark__container__person__title--small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-dark__container__person__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.page .section-dark__name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 6px;
}
.page .section-dark__name--small {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.64);
}
.page .section-dark__img {
  max-width: 329px;
}
.page .section-dark__title--small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  max-width: 329px;
}
.page .section-dark__tabs__tab--big {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #3A3C56;
  box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
  border-radius: 6px 6px 0px 0px;
  padding: 41px 28px 38px;
  max-width: 329px;
}
.page .section-dark__tabs__tab--big__img {
  width: 32px;
  height: 32px;
}
.page .section-dark__tabs__tab--big__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
  margin-bottom: 19px;
}
.page .section-dark__tabs__tab--big__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-dark__tabs__tab {
  display: flex;
  flex-wrap: no-wrap;
  border: 1px solid #3A3C56;
  max-width: 329px;
  padding: 41px 28px 39px;
}
.page .section-dark__tabs__tab__img {
  width: 32px;
  height: 32px;
}
.page .section-dark__tabs__tab__title--small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  max-width: 0;
  min-width: 219px;
}
.page .section-dark__tabs .tabs-box {
  display: flex;
  flex-wrap: no-wrap;
}
.page .section-dark.portfolio {
  padding-top: 55px;
  padding-bottom: 144px;
}
.page .section-dark.events {
  padding-bottom: 124px;
}
.page .section-dark.ourteam {
  justify-content: start;
  align-items: start;
  padding-top: 116px;
  padding-bottom: 35px;
}
.page .section-dark.ourteam-aboutus {
  justify-content: start;
  align-items: start;
  padding-top: 108px;
}
.page .section-dark.founder {
  justify-content: start;
  align-items: start;
  padding-bottom: 118px;
}
.page .section-dark.faq {
  justify-content: start;
  align-items: start;
  padding-top: 112px;
  padding-bottom: 118px;
}
.page .section-dark.faq .section-light__title {
  max-width: 329px;
}
.page .section-dark .box-img {
  position: relative;
}
.page .section-dark .quote-box {
  position: relative;
  margin-bottom: 29px;
}
.page .section-banner {
  padding: 0 7px 140px 39px;
  background-color: #28293E;
  position: relative;
}
.page .section-banner__icon {
  width: 148px;
  height: 148px;
  position: absolute;
  top: -75;
}
.page .section-banner__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #FDF0E9;
  border-radius: 6px;
  max-width: 329px;
  padding: 92px 53px 0 28px;
}
.page .section-banner__box__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  margin-bottom: 13px;
}
.page .section-banner__box__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
  margin-bottom: 23px;
}
.page .section-banner__box__btn {
  background-color: #EF6D58;
  border-radius: 6px;
  padding: 18px 23px 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  max-width: 154px;
  margin-bottom: 29px;
}
.page .section-banner__box__img {
  max-width: 351px;
}
.page .section-banner__box__img-woman {
  margin: 0 auto;
  max-width: 191px;
}
.page .banner-orange {
  background: #EF6D58;
  border-radius: 6px;
  padding: 32px 28px 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.page .banner-orange__img {
  max-width: 273px;
  margin-bottom: 37px;
}
.page .banner-orange__title--white {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  text-align: left;
  margin-bottom: 15px;
  max-width: 274px;
}
.page .banner-orange__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 21px;
  max-width: 273px;
}
.page .banner-orange__btn--white {
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
  padding: 18px 33px 16px;
  max-width: 154px;
  border: none;
}
.page .footer {
  background-color: #FDF0E9;
  padding: 121px 23px 30px;
}
.page .footer__navfooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 64px;
  margin-bottom: 43px;
}
.page .footer__navfooter__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  margin-bottom: 51px;
}
.page .footer__navfooter__list {
  text-align: center;
}
.page .footer__navfooter__list__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  margin-bottom: 16px;
}
.page .footer__navfooter__list__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .footer__navfooter__socialmedia__icon {
  width: 48px;
  height: 48px;
}
.page .footer__copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.page .footer__copyright__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  max-width: 198px;
  margin-bottom: 32px;
}
.page .footer__copyright__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .footer__copyright .txt-box {
  display: flex;
  gap: 68px;
}/*# sourceMappingURL=style.css.map */