@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?jc66y4");
  src: url("fonts/icomoon.ttf?jc66y4") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
  color: #fff;
}

.icon-arrow-left:before {
  content: "\e901";
  color: #fff;
}

.icon-arrow-right:before {
  content: "\e902";
  color: #fff;
}

.icon-board:before {
  content: "\e903";
  color: #fff;
}

.icon-briefcase:before {
  content: "\e904";
  color: #fff;
}

.icon-check:before {
  content: "\e905";
  color: #fff;
}

.icon-check-oval .path1:before {
  content: "\e906";
  color: rgb(239, 108, 87);
}

.icon-check-oval .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-clock:before {
  content: "\e908";
  color: #ef6d58;
}

.icon-down .path1:before {
  content: "\e909";
  color: rgb(239, 109, 88);
}

.icon-down .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-email:before {
  content: "\e90b";
  color: #fff;
}

.icon-facebook:before {
  content: "\e90c";
  color: #fff;
}

.icon-gear:before {
  content: "\e90d";
  color: #fff;
}

.icon-gift:before {
  content: "\e90e";
  color: #fff;
}

.icon-instagram:before {
  content: "\e90f";
  color: #fff;
}

.icon-minus .path1:before {
  content: "\e910";
  color: rgb(246, 218, 202);
}

.icon-minus .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-oval:before {
  content: "\e912";
  color: #ef6d58;
}

.icon-path:before {
  content: "\e913";
}

.icon-phone:before {
  content: "\e914";
  color: #fff;
}

.icon-pin .path1:before {
  content: "\e915";
  color: rgb(239, 109, 88);
}

.icon-pin .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-pinterest:before {
  content: "\e917";
  color: #fff;
}

.icon-plus .path1:before {
  content: "\e918";
  color: rgb(239, 109, 88);
}

.icon-plus .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-polygon:before {
  content: "\e91a";
}

.icon-quote:before {
  content: "\e91b";
  color: #494a69;
}

.icon-shape:before {
  content: "\e91c";
  color: #fff;
}

.icon-star:before {
  content: "\e91d";
  color: #ef6d58;
}

.icon-star-gift .path1:before {
  content: "\e91e";
  color: rgb(239, 109, 88);
}

.icon-star-gift .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-star-small:before {
  content: "\e920";
  color: #f6d021;
}

.icon-triangle:before {
  content: "\e921";
  color: #ef6d58;
}

.icon-twitter:before {
  content: "\e922";
  color: #fff;
}

.icon-up .path1:before {
  content: "\e923";
  color: rgb(239, 109, 88);
}

.icon-up .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-29 {
  margin-bottom: 29px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-81 {
  margin-bottom: 81px;
}

.mb-128 {
  margin-bottom: 128px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

* {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
}

.page {
  /* padding: 0 23px; */
}
.page .header {
  background-color: #28293E;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 23px;
}
.page .header__logo {
  display: flex;
}
.page .header__logo__img {
  width: 48px;
  height: 48px;
  margin-right: 14px;
}
.page .header__logo__txt {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.page .header__navmenu {
  display: none;
}
.page .header__hamburger {
  display: flex;
  align-items: center;
}
.page .header__hamburger__img {
  width: 48px;
  height: 48px;
}
.page .section-main {
  background-color: #28293E;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 23px;
}
.page .section-main__img {
  max-width: 329px;
  width: 100%;
  margin: 0 auto;
}
.page .section-main__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.page .section-main__title {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #ffffff;
  padding: 20px 0 12px;
  max-width: 329px;
}
.page .section-main__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  max-width: 329px;
}
.page .section-main__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-main__btn {
  background-color: #EF6D58;
  border-radius: 6px;
  padding: 18px 23px 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.page .section-main__quote {
  display: flex;
  flex-wrap: wrap;
}
.page .section-main__quote__avatar {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.page .section-main__quote__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 4px;
  max-width: 265px;
}
.page .section-main__quote__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-main__quote .quote-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.page .section-main .btn-box {
  display: flex;
  gap: 46px;
  padding: 16px 0 44px;
}
.page .section-logos {
  background-color: #FDF0E9;
  padding: 47px 49px 71px 30px;
}
.page .section-logos__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 41px;
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 50px;
}
.page .section-logos__box__logo {
  max-width: 147px;
  width: 100%;
}
.page .section-light {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 23px;
  background-color: #FDF0E9;
}
.page .section-light__img {
  max-width: 329px;
  width: 100%;
  margin: 0 auto;
}
.page .section-light__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.page .section-light__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
}
.page .section-light__txt--black {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__txt--shadow {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__btn--white {
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
  padding: 18px 33px 16px;
  max-width: 138px;
  border: none;
}
.page .section-light__numbers {
  border-bottom: 1px solid #F3D1BF;
  padding-bottom: 71px;
  margin: 77px 0 63px;
}
.page .section-light__numbers__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page .section-light__numbers__box__number {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #391400;
}
.page .section-light__numbers__box__txt {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
}
.page .section-light__list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__list__item::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("./images/check-orange.png");
  background-size: contain;
  display: inline-block;
  margin-right: 16px;
}
.page .section-light__box {
  padding-bottom: 112px;
}
.page .section-light__box__cell--white {
  background: #ffffff;
  border: 1px solid #F3D1BF;
  box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
  border-radius: 6px 6px 0px 0px;
  padding: 48px 41px 46px 48px;
}
.page .section-light__box__cell--white__icon {
  width: 80px;
  height: 80px;
}
.page .section-light__box__cell--white__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
  margin-top: 41px;
  margin-bottom: 19px;
}
.page .section-light__box__cell--white__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__box__cell {
  border: 1px solid #F3D1BF;
  border-radius: 0px 0px 6px 6px;
  padding: 105px 41px 46px 48px;
}
.page .section-light__box__cell__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
}
.page .section-light__box__cell__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-light__quote {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.page .section-light__quote__avatar {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
.page .section-light__quote__txt--quote {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(57, 20, 0, 0.64);
  max-width: 245px;
}
.page .section-light__quote__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light__quote .quote-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.page .section-light__container__cell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #F3D1BF;
  border-radius: 0px 0px 6px 6px;
  padding: 48px 35px 52px 28px;
}
.page .section-light__container__cell__icon {
  width: 80px;
  height: 80px;
  margin-bottom: 41px;
}
.page .section-light__container__cell__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  max-width: 257px;
  margin-bottom: 19px;
}
.page .section-light__container__cell__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 26px;
}
.page .section-light__container__cell__txt--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.page .section-light.service {
  padding-bottom: 124px;
}
.page .section-light.agency {
  padding-bottom: 283px;
}
.page .section-box {
  background-color: #FDF0E9;
  padding: 112px 23px 94px;
}
.page .section-box__cell {
  border: 1px solid #F3D1BF;
  border-radius: 6px 6px 0px 0px;
  padding: 48px 0 38px 48px;
}
.page .section-box__cell__number {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
  margin-bottom: 13px;
}
.page .section-box__cell__txt--black {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.page .section-dark {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 23px;
  background-color: #28293E;
}
.page .section-dark__img {
  max-width: 329px;
}
.page .section-dark__input {
  background: #ffffff;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.page .section-dark__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
.page .section-dark__title--white {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.page .section-dark__btn--black {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 30px 16px;
  background-color: transparent;
}
.page .section-dark__box {
  margin-bottom: 100px;
}
.page .section-dark__box__cell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #3A3C56;
  border-radius: 6px;
  padding: 41px 28px 36px;
}
.page .section-dark__box__cell__date {
  display: flex;
  flex-wrap: wrap;
}
.page .section-dark__box__cell__date__number {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #ffffff;
  margin-right: 12px;
}
.page .section-dark__box__cell__date__title--small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  max-width: 127px;
}
.page .section-dark__box__cell__txt--light {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.page .section-dark__box__cell__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-dark__box__cell__title--small {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.page .section-dark__box .border {
  border-bottom: 1px solid #3A3C56;
  padding-bottom: 36px;
}
.page .section-dark.portfolio {
  padding-top: 55px;
  padding-bottom: 144px;
}
.page .section-dark.events {
  padding-bottom: 124px;
}
.page .section-banner {
  padding: 0 7px 140px 39px;
  background-color: #28293E;
}
.page .section-banner__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #FDF0E9;
  border-radius: 6px;
  max-width: 329px;
  padding: 92px 53px 0 28px;
}
.page .section-banner__box__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  margin-bottom: 13px;
}
.page .section-banner__box__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
  margin-bottom: 23px;
}
.page .section-banner__box__btn {
  background-color: #EF6D58;
  border-radius: 6px;
  padding: 18px 23px 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  max-width: 154px;
  margin-bottom: 29px;
}
.page .section-banner__box__img {
  max-width: 351px;
}
.page .section-banner__box__img-woman {
  margin: 0 auto;
  max-width: 191px;
}/*# sourceMappingURL=style.css.map */